body { background: #e4d212; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 56px; display: flex; }
.block-auth-0 { color: #ed82f7; font-size: 13px; margin-bottom: 5px; }
.block-helper-1 { color: #6a64f9; font-size: 18px; margin-bottom: 5px; }
.block-logger-2 { color: #7abec4; font-size: 19px; margin-bottom: 5px; }
.block-user-3 { color: #9b5f1; font-size: 16px; margin-bottom: 5px; }
.block-invoice-4 { color: #9fd048; font-size: 17px; margin-bottom: 5px; }